API_ID=34147703
API_HASH=f52e962543b3f4ebbc01c6a30cd8ebf2
MONGO_URL=mongodb+srv://biduan:biduan@cluster0.3uiosr7.mongodb.net/?appName=Cluster0
BOT_TOKEN=8985507857:AAFuxIMY1szfE_1bO2AjHXIBvzEO7q40lHU
LOGGER_ID=-1003996218782
OWNER_ID=7586938131
SESSION=BQIJDXcAeeEJj5ak27mm89OU4jiO3N6Mk5tVcz6jDZoCvWh2kjp1dpzZRDOixc0JvlAmcUqXfCtFuMbUcTyxqOTbXxFYzaoTDmIBnrzYDQMb0atoGlBoNO5_oOkmAipancvwuoLA-XjqGH94v5BkQH-t3R2QgjHqwQ9YdffK-S_zLcNK1fV50sdPEdlsxorb0JhtPz_Mn8NfWVhuHOXuzUQ4v4s6qTpUdwnbjNBkNPAJdE-2mqdyJaBY4qeBmTqNYKoHNKcjxsnp80p5yJMAAGEUJDdGa3AjEcX_wMx7TUWKR1XKYn360SiYWLJcNS94K9XvH5S0Da25FijpltiXgvxE1GSVhwAAAAGpB9cVAA
API_URL=https://console.nexgenbots.xyz
