API_ID=34147703
API_HASH=f52e962543b3f4ebbc01c6a30cd8ebf2
MONGO_URL=mongodb+srv://biduan:biduan@cluster0.3uiosr7.mongodb.net/?appName=Cluster0
BOT_TOKEN=8778449142:AAERhi0RpmKHNYIgVpG1uxgKqCoD2Wi6LHE
LOGGER_ID=-1003996218782
OWNER_ID=7586938131
SESSION=BQIxbwIAXQcDCrxEbCVEaa4EypktJGuEzTihf3j8Vqlgfl-FMI66cSM7IGvUQ4U5cZtSd4b5gslEY0sswyPzjh0FtRFsSjaiFKzwlQoHCGzqWRR9mXPGD8JcJbJ1pTsBddDyDkpm7XgvrCVI8dv4FhiutWbSloWE6CwclcUcBR8re70JedLC5JFPnKF97ekS6K81WTc_lr19SLk9oVIi31X7mRxJLOE02YN043oFGBwnI9CfN2eadVqc_vw92-8byTrXPQqMORUpQPPXnMy40hlTNzqmNeHjjzx2u-nWkyKPADt_Y-aaG0Vm8BRQ1bs7F5gDRVkMO6qHDEuBtCKzL98_E1CzNwAAAAIW7hSiAA
API_URL=https://console.nexgenbots.xyz
